.main {
  padding: 20px;

  h2 {
    text-align: center;
  }

  .pokemon-grid {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .pokemon-grid li {
    text-align: center;
    width: 250px;
    margin-bottom: 20px;
  }

  .pokemon-grid img {
    max-width: 100%;
    height: auto;
  }

  .pokemon-grid p {
    margin: 5px 0;
  }

  .pokemon-types {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .pokemon-type {
    margin: 0 5px;
  }

  .pokemon-type img {
    max-width: 100%;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    .pokemon-grid li {
      width: 100%;
    }
  }
}

#search {
  padding: 5px;
  margin-right: 10px;
}